# Laravel
/backend/vendor
/backend/node_modules
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpunit.cache
/backend/.phpunit.result.cache
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/Homestead.json
/backend/Homestead.yaml
/backend/auth.json
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.fleet
/backend/.idea
/backend/.vscode

# Frontend
/frontend/node_modules
/frontend/dist
/frontend/.env.local
/frontend/*.local
/frontend/.DS_Store

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
